<h1>Todo's List</h1>
<h1>Modal</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<form (submit) = 'addTodo()'>
  <input class = 'form-control' type='text'[(ngModel)]='text' name='text'>
  <input class = form-control type='date'[(ngModel)]='date' name='date'>
  <label>full name</label>
  <input required class = 'form-control' type='text'[(ngModel)]='fullname' name='fullname' #fullnamecontrol = 'ngModel'>
  Touched: {{fullnamecontrol.touched}}
  Unouched: {{fullnamecontrol.untouched}}
  Valid: {{fullnamecontrol.valid}}
  Invalid: {{fullnamecontrol.invalid}}
  Pristine: {{fullnamecontrol.pristine}}
  Dirty: {{fullnamecontrol.dirty}}
</form>
<ul>
  <li *ngFor = 'let todo of todos'>
    <span (click) = 'editTodo(todo)'> {{todo.text}}</span><button (click) = 'deleteTodo(todo.text)'>X</button>
  </li>
</ul>
